<!--<section>-->
    <section>
        <h3>所感 - 前回(4年前)ごろまでと比べて...</h3>

        <ul>
            <li>データストア向けやイベントライブラリ向けのバインディングは落ち着いた印象
                <ul><li>「拙者Cで実装すると速いと聞いて持参してまいりました」っていう勢は減りましたかね</li></ul>
            </li>
            <li>PHP 7 のリリースもあってか、PHP自体へのハックやプロファイリングなどが増えた感じ
            <li>3～5年前の中国でのPHP内部勉強ブーム(?)の成果が上がってる?</li>
            <li>前回紹介したWebKitGtkバインドみたいなロマンスを感じさせるものは盛り上がってない印象</li>
        </ul>
    </section>

    <section>
        <h3>所感</h3>
        <ul>
            <li>(このPHP拡張/Zend拡張を導入したら)「PHPらしさが」「ポータビリティ性が」「PHPでやる意味は？」</li>
            <li>自分の限界を、そしてPHPの限界を自分で決めるんじゃない！やればできる！できるはずだ！</li>
        </ul>
    </section>


    <section>
        <h3>関連記事・スライドなど</h3>
        <ul>
            <li>
                PECL を数えてみた
                <ul><li><a href="http://www.slideshare.net/y-uti/pecl" target="_blank">http://www.slideshare.net/y-uti/pecl</a></li></ul>
            </li>
            <li>
                PHPのイカれたメンバーを紹介するぜ!
                <ul><li><a href="http://qiita.com/morisuke/items/7acf5cd0c68e99d6b68b" target="_blank">http://qiita.com/morisuke/items/7acf5cd0c68e99d6b68b</a></li></ul>
            </li>
            <li>
                <ul>
                    Php extensions
                    <li><a href="http://www.slideshare.net/auroraeosrose/php-extensions-66078198" target="_blank">http://www.slideshare.net/auroraeosrose/php-extensions-66078198</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    サムライファクトリー開発ブログ
                    <li><a href="http://dev.ninja.co.jp/" target="_blank">http://dev.ninja.co.jp/</a></li>
                </ul>
            </li>
        </ul>
    </section>
<!--</section>-->
<section>
    <img src="image/ending.jpg" style="margin:0px;border: 0px;box-shadow:0 0 0px;">
</section>