<!--<section>-->
    <section>
        <img src="image/starting.jpg" style="margin:0px;border: 0px;box-shadow:0 0 0px;">
    </section>
<!--</section>-->

<!--<section>-->
    <section>
        <article class="markdown-body entry-content" itemprop="text">
            <h2><a id="user-content-はじめに" class="anchor" href="#はじめに" aria-hidden="true"></a>はじめに</h2>
            <ul>
                <li>このPHP拡張がすごい!2013 @ 第64回PHP勉強会の懇親会 (2013年1月31日) からおおよそ4年たったので、その棚卸です。
                    <ul>
                        <li><a href="http://sasezaki.hatenablog.com/entry/2013/02/01/005113">http://sasezaki.hatenablog.com/entry/2013/02/01/005113</a></li>
                    </ul>
                </li>
            </ul>
        </article>
    </section>

    <section>
        <article class="markdown-body entry-content" itemprop="text">
            <h2><a id="user-content-免責事項" class="anchor" href="#免責事項" aria-hidden="true"></a>免責事項</h2>
            <ul>
                <li>カテゴライズはpecl以外のものは私の独断です</li>
                <li>
                    <p>掲載基準は2013年以降に出たPHP拡張かどうかです</p>
                    <ul>
                        <li><del>中国語のREADMEがあるような</del> Yet Another Yaf はちょっと</li>
                    </ul>
                </li>
                <li>
                    <p>全部試したわけじゃないので</p>
                    <ul>
                        <li>PHP 7 で動かないかも (多分半分以上) </li>
                        <li>PHP拡張じゃなかったかも</li>
                        <li>そもそもコンパイルできないのもあるのかも</li>
                    </ul>
                </li>
                <li>
                    <p>Zend Engine 以外の PHP拡張の話？？？ </p>
                </li>
                <li>
                    <p>※ 各日付は執筆時のものです</p>
                </li>
            </ul>
        </article>
    </section>
<!--</section>-->